[data-testid="stMain"]{
    background-color: #001d49;
}
[data-testid="stSidebarNavLink"] {
        color: #ffffff !important;
        font-weight: bold !important;
        text-decoration: none !important;
    }
[data-testid="stSidebarNavLink"]{
    background-color: #0045ad;
}